@media (max-width: 1023px){
    .right{
        display: none;
    }

    .left{
        width: 100%;
    }
    
    .intro, .about, .featured, .experience, .education, .skills{
        width: 90vw;
    }

    .profile{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo{
        width: 10%;
        height: 10%;
    }
}
