@media (max-width: 1024px){
    .right{
        display: none;
    }

    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .intro, .about, .featured, .experience{
        width: 90vw;
        margin-bottom: 10px;
        background: #1F2833;
        border-radius: 5px;
    }

    .profile{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .company img{
        width: 10%;
        height: 10%;
    }
}